body{
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    text-align: center;
    background-image: url("walp1.jpg");
    width: 1000px;



}

#nav{
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    border-bottom: 2px salmon;
    position: fixed;
    left: 210px;
    width: 1000px;
    border-bottom: 1px solid grey;
    margin: -25px;
    border-radius: 7px;
    border-left:2px solid grey;
    border-right: 2px solid gray;


    z-index: 10;
}
#nav_wrapper{
    width: 960px;
    margin: 0 auto;
    text-align: left;
    font-style: italic;
    padding-left: 2px;
    text-decoration-color: #222222;
}
#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;

    text-decoration: none;


}
#nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: larger;
    color: #000000;
    font-family: monospace;

}
#nav ul li:hover{



}
#nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
#nav ul li a:visited{
    color: #ccc;
    display: block;
    padding: 15px;
    text-decoration: none;
}

#nav ul li a:hover{
    text-decoration: none;
    color: goldenrod;
    display: block;

}
#nav ul li:hover ul{
    display: block;
    color: aqua;
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");

}

#mainDesc{
    position: relative;
    top: 500px;
    border-top: 2px solid grey;
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    color: black;
    height: 907px;
    border-radius: 7px;
    left: 187px;
    border-left:2px solid grey;
    border-right: 2px solid gray;
    text-shadow: 2px 2px 4px black;


}
#textDesc{


    background-color: #ffffff;
    border-top: 2px solid black;
    opacity: 0.6;
    width: 900px;

}
#video1{

padding-bottom: 30px;

}
#video2{


}
h2{



}
#mainContentLife{
    position: relative;
    width: 100%;
    top: 169px;
    left: 186px;
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    border-left:2px solid grey;
    border-right: 2px solid gray;
    border-top: 2px solid grey;
    border-radius: 2px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;

}
h1{
   background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    color: orange;
    text-shadow: 3px 3px 5px black;
}
#textClass{

    background-color: #ffffff;
    border-top: 2px solid black;
    opacity: 0.8;
    margin-left: 60px;
    margin-right: 60px;
    padding: 5px;

}
#History{
    position: relative;
    width: 100%;
    top: 288px;
    left: 186px;
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    border-left:2px solid grey;
    border-right: 2px solid gray;
    border-top: 2px solid grey;
    border-radius: 2px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;


}
h1{
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    color: orange;
    text-shadow: 3px 3px 5px black;
}
#HistoryText{

    background-color: #ffffff;
    border-top: 2px solid black;
    opacity: 0.8;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;

}
#Training{
    position: relative;
    width: 100%;
    top: 408px;
    left: 186px;
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    border-left:2px solid grey;
    border-right: 2px solid gray;
    border-top: 2px solid grey;
    border-radius: 2px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;


}
h1{
    background-image: url("coat_white_black_stone_texture_36218_1920x1080.jpg");
    color: orange;
    text-shadow: 3px 3px 5px black;
}
#TrainingText{

    background-color: #ffffff;
    border-top: 2px solid black;
    opacity: 0.8;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;

}
img{
    border: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px  4px black;
}
.logoX{
    border-radius: 30px;
    position: fixed;
    top: 190px;
    left: 204px;
    font-size: 60px;
}
@media screen and (max-width: 1140px) {
    #nav {
        position: fixed;
        left: 100px;
        width: 1000px;
        border-bottom: 1px solid grey;
        margin: -25px;

    }

    #mainDesc {
        position: relative;
        top: 500px;
        height: 907px;
        left: 75px;
    }

    #mainContentLife{
        position: relative;
        width: 100%;
        top: 169px;
        left: 75px;

    }
    #History{
        position: relative;
        width: 100%;
        top: 288px;
        left: 75px;

    }#Training {
             position: relative;
             width: 100%;
             top: 408px;
             left: 75px;
         }

}
@media screen and (max-width: 980px) {
    #nav {
        position: fixed;
        left: 19px;
        width: 1000px;
        border-bottom: 1px solid grey;
        margin: -25px;

    }

    #mainDesc {
        position: relative;
        top: 500px;
        height: 907px;
        left: -11px;
    }
    #mainContentLife{
        position: relative;
        width: 100%;
        top: 169px;
        left: -11px;

    }
    #History{
        position: relative;
        width: 100%;
        top: 288px;
        left: -11px;

    }

    #Training
         {
         position: relative;
         width: 100%;
         top: 408px;
             left: -11px;
     }

}
@media screen and (max-width: 800px) {
    #nav {
        position: fixed;
        left: 19px;
        width: 830px;
        border-bottom: 1px solid grey;
        margin: -25px;

    }
    #nav ul li{
        display: inline-block;
        margin-right:15px;
        font-size: 20px;
        color: #000000;
        font-family: monospace;

    }

    #mainDesc {
        position: relative;
        top: 500px;
        height: 907px;
        left: -100px;
    }
    #textDesc{


        background-color: #ffffff;
        border-top: 2px solid black;
        opacity: 0.6;
        width: 700px;

    }
    #mainContentLife{
        position: relative;
        width: 100%;
        top: 169px;
        left: -100px;

    }
    #textClass{
        width: 800px;
        padding: 5px;
        margin-left: 90px;
        font-size: 16px;
    }
    #History{
        position: relative;
        width: 100%;
        top: 288px;
        left: -100px;

    }
    #HistoryText{

        width: 800px;
        padding: 10px;
        margin-left: 90px;
        font-size: 16px;

    }
    #Training {
         position: relative;
         width: 100%;
         top: 408px;
         left: -100px;
     }
    #TrainingText{

        width: 800px;
        padding: 10px;
        margin-left: 90px;
        font-size: 16px;

    }



}

@media screen and (max-width: 800px) {
    body{

        font-size: 14px;

    }
    #nav {
        position: fixed;
        left: 19px;
        width: 830px;
        border-bottom: 1px solid grey;
        margin: -25px;

    }

    #nav ul li {
        display: flex;
        margin-right: 15px;
        font-size: 20px;
        color: #000000;
        font-family: monospace;

    }
    #nav_wrapper{

        margin: 8px auto;
        text-align: center;

        padding-left: 84px;
    }
    .logoX{

        position: fixed;
        top: 236px;
        left: 37px;
        font-size: 60px;
    }

    #mainDesc {
        position: relative;
        top:392px;
        height: 1000px;
        left: -321px;
    }

    #textDesc {

        width: 300px;

    }
    #video1{
width: 300px;
        padding-bottom: 30px;

    }

    #mainContentLife {
        position: relative;
        top: 240px;
        height: 600px;
        left: -321px;

    }

    #textClass {
        width: 300px;
        padding: 5px;
        margin-left: 340px;

    }

    #History {
        position: relative;
        width: 100%;
        top: 288px;
        left: -321px;

    }

    #HistoryText {

        width: 300px;
        padding: 10px;
        margin-left: 340px;

    }

    #Training {
        position: relative;
        width: 100%;
        top: 408px;
        left: -321px;
    }

    #TrainingText {

        width: 300px;
        padding: 10px;
        margin-left: 90px;
        font-size: 16px;
        margin-left: 340px;

    }
    .vidTrailer{
        width: 300px;
        border-radius: 3px;
    }
    .vidAnim{
        width: 300px;
        border-radius: 3px;
    }
    .T1{
        width: 300px;
    }
    .T2{
        width: 300px;
    }
    .T3{
        width: 300px;
    }
    .T4{
        width: 300px;
    }
}