@font-face {
    font-family: SketchRockwell;
    src: url('SketchRockwell-Bold.ttf');
}
body{
    background: url("../TeamBabyBlue/walp1.jpg") center center fixed;
}


header>a>img{
    width: 170px;
    float: left;
    margin-top: 5px;
    margin-left: 60px;
}

#wrapper{
    margin: 0 auto;
    width: 960px;
    height: auto;
    background: url("../Creators/1024x768_v2.jpg") center fixed;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;

}
ul{
    padding-top: 17px;

}
.nakov-image{
    max-width: 100%;
    border-radius: 10px;
}
.bankin-image{
    max-width: 100%;
    border-radius: 10px;
}
.bogy-image{
    max-width: 100%;
    border-radius: 10px;
}
.ache-image{
    max-width: 100%;
    border-radius: 10px;
}
.rossy-image{
    max-width: 100%;
    border-radius: 10px;
}
.left-side-nakov{
    float:left;
    width: 45%;
    margin-right: 5px;

}
.left-side{
    float:left;
    width: 45%;
    margin-right: 5px;
}
h1{
    font-family: SketchRockwell;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}
article::after{
    display: block;
    zoom: 1;
    content: "";
    clear: both;
}
.image{
    width: 45%;
    height: 95%;
    background-size: 200px;
    background-position: bottom;
    display: inline-block;
}
#site-header > ul > li{
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 10px;
    font-family: SketchRockwell;
    font-size: 20px;

}
#site-header{
    width: 960px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: url("1024x768.jpg");
    height: 100px;
    box-shadow: 3px 3px 10px black;
}
#site-header > ul > li:nth-child(1){
    margin-left: 50px;
}
a.nav{

    text-shadow: 2px 5px 27px rgba(255, 255, 255, 1);
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;

}
a.nav:hover{
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}
section>article {
    margin: 0 auto;
    width: 70%;
    height: 18%;
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 25px black;

}
#nakov-article{
    height: 18%;
}
#wrapper > section > article> header > div{

    width: 50%;
    font-size: large;
}
#wrapper > section > article > img{
    border-radius: 8px;
    width: 30%;
    height: 30%;
    float: left;
    padding-right: 5px;
}
section{
    padding: 20px;
}
#wrapper > section > article:nth-child(5){
    margin-bottom: 10px;
}
.description{
    font-family: "Comic Sans MS", cursive, sans-serif;

}
.bold{
    font-weight: 600;
}
/*1600px, 1024px, 960px, 768px, 640px, 480px, 320px.*/
@media only screen and (max-width: 1024px){
    #site-header {
        width: 95%;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 40px;
        background: url("1024x768.jpg");
        height: 100px;
        box-shadow: 3px 3px 10px black;
    }
    #wrapper {
        margin: 0 auto;
        width: 95%;
        height: auto;
        background: url("../Creators/1024x768_v2.jpg") center fixed;
        border-radius: 10px;
        box-shadow: 3px 3px 10px black;
    }
    #site-header > ul > li {
        display: inline-block;
        margin-top: 55px;
        margin-bottom: 10px;
        font-family: SketchRockwell;
        font-size: 18px;
    }
    #site-header > ul > li:nth-child(1){
        margin-left: 25px;
    }
}

@media only screen and (max-width: 960px){
    #site-header > ul > li {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 10px;
        font-family: SketchRockwell;
        font-size: 18px;
    }
    ul {
        padding-top: 17px;
        text-align: center;
    }
    #site-header > ul > li:nth-child(1) {
        margin-left: 25px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px){
    section>article {
        margin: 0 auto;
        width: 70%;
        height: 18%;
        background-color: rgba(230, 230, 230, 0.7);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 25px black;
    }
    #site-header > ul > li:nth-child(1) {
        margin-left: 25px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 640px){
    #site-header{
        height: auto;
    }

    header>a>img {
        margin-left: 35%;
        margin-right: 35%;
        padding-right: 25%;
    }

}

@media only screen and (max-width: 480px){
    header>a>img {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding: 5px;
        width: 100px;
    }
    #site-header > ul > li:nth-child(1) {
        margin-left: 25px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 320px){
    #site-header > ul > li {
        width: 100%;
    }
    #site-header > ul > li:nth-child(1) {
        margin-left: 0px;
    }
}


